.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #8884d8;
  background-color: #605bb8;
  background-color: #403b96;
  background-color: #231f72;
  background-color: #0e0b46;
}